body {font-family: sans-serif;}
.postdiv {border: 1px solid #93c4be; margin: 8px; padding: 8px;}
.authorspan {margin: 8px; padding: 8px; font-size: larger;}
.datespan {font-size: smaller;}
.contentdiv {background-color: #93c4be; margin: 8px; padding: 8px;}
.footer {background-color: #e2ddd3;}

#formtable {border-collapse: collapse;}
#formtable td {border: 1px solid #93c4be; padding: 8px; margin: 8px;}
.flash {color: red;}
