<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db.protocol</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>db.host</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>db.port</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>db.name</param-name>
        <param-value>hubbub</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <context-param>
        <param-name>db.pass</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <context-param>
        <description>Hubbub Version</description>
        <param-name>version</param-name>
        <param-value>6</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.j2ee.hubbub6.StartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>edu.acc.j2ee.hubbub6.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
